<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      <!--****AGENCIA***-->
      <!-- agencia local host-->
      <!--    <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=ALLINONE;Initial Catalog=AUTOMOTORES;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
      
      <!-- agencia con clave de seguridad-->
      
           <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=ALLINONE;Initial Catalog=AUTOMOTORES;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" /> 
        
      
      <!--CASA-->
      <!--     <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=COPIACONCESIONARIA;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" /> -->
      <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=AUTOMOTORES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
          -->  
     
    </connectionStrings>
</configuration>